@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f0ef;
  --foreground: #333;
}

@font-face {
  font-family: "Yorkmade";
  src: url("./fonts/Yorkmade.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-family: "Yorkmade", serif;
  font-size: 96px;
  line-height: 93px;
  color: var(--foreground);
}

p {
  color: #777;
  font-family: Roboto, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
